.picture__details__container {
  /* border: 3px solid red; */
  padding: 30px;
}
.picture__details__title {
  text-align: center;
  margin-top: 50px;
}

.picture__details {
  display: flex;
  margin-top: 30px;
  padding: 30px;
  border-radius: 30px;
  height: 800px;
  /* background: linear-gradient(rgb(245, 4, 124), rgb(4, 245, 112)); */
}

.picture__details__image {
  border-radius: 20px;
  height: 500px;
  margin-top: 50px;
  width: 100%;
}

.picture__details__image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  border-radius: 20px;
}

.picture__details__author {
  background: orangered;
  margin-top: 10px;
  padding: 10px;
  display: inline-block;
}

.pictures__details__description {
  margin-left: 5px;
  height: 500px;
  border-radius: 30px;
  bottom: 0;
  width: 100%;
}

.titles {
  text-align: center;
  padding: 10px;
  background: orangered;
}

.pictures__details__description__content {
  background: rgb(126, 201, 248);
  padding: 0 20px;
}

.description {
  padding-top: 20px;
}

.views {
  padding: 30px;
  text-align: center;
}
